* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#canvas {
    border: 1px solid black;
    background: url("./background.jpg");
    background-size: contain;
}

#Kick1{
    position: absolute;
    width: 200;
    aspect-ratio: 1/1;
    bottom: 100;
    left: 600;
}

#img1{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
}
#Kick2{
    position: absolute;
    width: 200;
    aspect-ratio: 1/1;
    bottom: 100;
    left: 800;
}

#img2{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
}
#snare{
    position: absolute;
    width: 200;
    aspect-ratio: 1/1;
    bottom: 300;
    left: 800;
}

#snareimg{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
}
